.site-box .sitefeature {
  display: none;
}

.site-box::after {
  content: url("https://akkuunamatata.nekoweb.org/akkuunamatata.nekoweb.org/data/site-thumbnail.gif");
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 190px;
}
